<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (profile(); as profileRef) {
      <div>
        <h2 data-cy="profileDetailsHeading" style="display: flex; align-items: center; gap: 0.5rem">
          @if (profileRef.picture) {
            <a (click)="openFile(profileRef.picture ?? '', profileRef.pictureContentType)" style="display: inline-block">
              <img
                [src]="'data:' + profileRef.pictureContentType + ';base64,' + profileRef.picture"
                alt="profile"
                style="width: auto; max-height: 60px; object-fit: cover"
              />
            </a>
          }
          <span>{{ profileRef.user?.login }}</span>

          <button type="button" (click)="requestChat()" class="btn btn-primary ms-auto">
            <span>Request</span>
          </button>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ profileRef.status }}</span>
          </dd>

          <dt style="display: none"><span>User</span></dt>
          <dd style="display: none">
            <span>{{ profileRef.user?.id }}</span>
          </dd>
          <dt><span>Friends</span></dt>
          <dd>
            @for (other of profileRef.others; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/profile', other.id, 'view']">{{ other?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt style="display: none"><span>Chat</span></dt>
          <dd style="display: none">
            @for (chat of profileRef.chats; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/chat', chat.id, 'view']">{{ chat?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt style="display: none"><span>Profile</span></dt>
          <dd style="display: none">
            @for (profile of profileRef.profiles; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/profile', profile.id, 'view']">{{ profile?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button style="display: none" type="button" [routerLink]="['/profile', profileRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
