<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (profile(); as profileRef) {
      <div>
        <h2 data-cy="profileDetailsHeading" style="display: flex; align-items: center; gap: 0.5rem">
          @if (profileRef.picture) {
            <a (click)="openFile(profileRef.picture ?? '', profileRef.pictureContentType)" style="display: inline-block">
              <img
                [src]="'data:' + profileRef.pictureContentType + ';base64,' + profileRef.picture"
                alt="profile"
                style="width: auto; max-height: 60px; object-fit: cover"
              />
            </a>
          }
          <span>{{ profileRef.user?.login }}</span>

          @if (!friends() && account()?.login != profileRef.user?.login && !requested) {
            <button type="button" (click)="requestChat(profileRef.id)" class="btn btn-primary ms-auto">
              <span>Request</span>
            </button>
          }
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ profileRef.status }}</span>
          </dd>

          <dt style="display: none"><span>User</span></dt>
          <dd style="display: none">
            <span>{{ profileRef.user?.id }}</span>
          </dd>
          <dt><span>Friends</span></dt>
          <dd>
            @for (other of friendsList(); track $index; let last = $last) {
              <span>
                <a [routerLink]="['/profile', other.id, 'view']">{{ other?.user?.login }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt style="display: none"><span>Chat</span></dt>
          <dd style="display: none">
            @for (chat of profileRef.chats; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/chat', chat.id, 'view']">{{ chat?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt style="display: none"><span>Profile</span></dt>
          <dd style="display: none">
            @for (profile of profileRef.profiles; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/profile', profile.id, 'view']">{{ profile?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <dt><span>Posts</span></dt>
        <dd></dd>
        <div class="table-responsive table-entities" id="entities">
          <table class="table table-striped" aria-describedby="page-heading">
            <tbody>
              @for (post of profileRef.posts; track post) {
                <tr data-cy="entityTable">
                  <td style="display: none">
                    <a [routerLink]="['/post', post.id, 'view']">{{ post.id }}</a>
                  </td>
                  <td>
                    @if (post.image) {
                      <!--<a (click)="openFile(post.image, post.imageContentType)">-->
                      <a [routerLink]="['/post', post.id, 'view']">
                        <img [src]="'data:' + post.imageContentType + ';base64,' + post.image" style="height: 20vh" alt="post" />
                      </a>
                      <span style="display: none">{{ post.imageContentType }}, {{ byteSize(post.image) }}</span>
                    }
                  </td>
                  <td>{{ post.description }}</td>
                  <td>{{ formatTime(post.time + '') }}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        @if (owner()) {
          <button type="button" [routerLink]="['/profile', profileRef.id, 'edit']" class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
          </button>
        }
      </div>
    }
  </div>
</div>
