<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (profile(); as profileRef) {
      <div>
        <h2 data-cy="profileDetailsHeading"><span>Profile</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ profileRef.id }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ profileRef.status }}</span>
          </dd>
          <dt><span>Picture</span></dt>
          <dd>
            @if (profileRef.picture) {
              <div>
                <a (click)="openFile(profileRef.picture ?? '', profileRef.pictureContentType)">
                  <img
                    [src]="'data:' + profileRef.pictureContentType + ';base64,' + profileRef.picture"
                    style="max-width: 100%"
                    alt="profile"
                  />
                </a>
                {{ profileRef.pictureContentType }}, {{ byteSize(profileRef.picture ?? '') }}
              </div>
            }
          </dd>
          <dt><span>User</span></dt>
          <dd>
            <span>{{ profileRef.user?.id }}</span>
          </dd>
          <dt><span>Other</span></dt>
          <dd>
            @for (other of profileRef.others; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/profile', other.id, 'view']">{{ other?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt><span>Chat</span></dt>
          <dd>
            @for (chat of profileRef.chats; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/chat', chat.id, 'view']">{{ chat?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt><span>Profile</span></dt>
          <dd>
            @for (profile of profileRef.profiles; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/profile', profile.id, 'view']">{{ profile?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/profile', profileRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
