<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (chat(); as chatRef) {
      <div>
        <div class="row">
          <h2 class="col text-start" data-cy="chatDetailsHeading"><span>Chat with</span></h2>
          <h2 class="col text-end">
            <dd>
              @for (profile of chatRef.profiles; track $index; let last = $last) {
                @if (profile?.user?.login != account()?.login) {
                  <img [src]="'data:' + 'image/png' + ';base64,' + profile?.picture" style="display: inline; max-width: 50px" />
                  <a [routerLink]="['/profile', profile.id, 'view']">{{ profile?.user?.login }}</a
                  >{{ last ? '' : ', ' }}
                }
              }
            </dd>
          </h2>
        </div>
        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl style="display: none" class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ chatRef.id }}</span>
          </dd>
          <dt><span>Initiator Name</span></dt>
          <dd>
            <span>{{ chatRef.initiatorName }}</span>
          </dd>
          <dt><span>Accepted</span></dt>
          <dd>
            <span>{{ chatRef.accepted }}</span>
          </dd>
          <dt><span>User</span></dt>
          <dd>
            <span>{{ chatRef.user?.id }}</span>
          </dd>
          <dt><span>Profile</span></dt>
          <dd>
            @for (profile of chatRef.profiles; track $index; let last = $last) {
              @if (profile?.user?.login != account()?.login) {
                <span>
                  <a [routerLink]="['/profile', profile.id, 'view']">{{ profile?.user?.login }}</a
                  >{{ last ? '' : ', ' }}
                </span>
              }
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <dt></dt>
        <div class="row" style="height: 10px"></div>

        <dt></dt>
        <tbody>
          @for (m of chatRef.chats; track m) {
            <tr class="border-top border-bottom">
              <td colspan="3" class="text-start py-2">
                <span class="text-muted me-2">{{ formatDateTime(m?.time + '') }}</span>
                <a>{{ m.senderName }}</a>
              </td>
            </tr>
            <tr class="border-bottom">
              <td colspan="3" class="text-start py-2 ps-4">
                {{ m.content }}
              </td>
            </tr>
          }
        </tbody>

        <dt></dt>
        <div class="row g-2" style="padding-top: 10px">
          <div class="col">
            <input type="text" [(ngModel)]="messageText" class="form-control w-100" placeholder="Write a message..." />
          </div>
          <div class="col-auto">
            <button type="submit" (click)="sendMessage(chatRef.id)" class="btn btn-primary" data-cy="entityDetailsBackButton">Send</button>
          </div>
        </div>

        <button style="display: none" type="button" [routerLink]="['/chat', chatRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
