<div>
  <h2 id="page-heading" data-cy="ChatHeading">
    <span>Chats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        style="display: none"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chat"
        [routerLink]="['/chat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Chat</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (chats().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Chats found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th style="display: none" scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>

            <th scope="col" jhiSortBy="profile.id">
              <div class="d-flex">
                <span>With</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>

            <th style="display: none" scope="col" jhiSortBy="initiatorName">
              <div class="d-flex">
                <span>Friend Request</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th style="display: none" scope="col" jhiSortBy="accepted">
              <div class="d-flex">
                <span>Accepted</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th style="display: none" scope="col" jhiSortBy="user.id">
              <div class="d-flex">
                <span>User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>

            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (chat of chats(); track trackId(chat)) {
            <tr data-cy="entityTable">
              <td>
                @for (profile of chat.profiles; track $index; let last = $last) {
                  @if (profile.user?.login != account()?.login) {
                    <span>
                      <a class="form-control-static" [routerLink]="['/profile', profile.id, 'view']">{{ profile.user?.login }}</a
                      >{{ last ? '' : ', ' }}
                    </span>
                  }
                }
              </td>
              <td style="display: none">
                <a [routerLink]="['/chat', chat.id, 'view']">{{ chat.id }}</a>
              </td>
              <td style="display: none">
                @if (!chat.accepted) {
                  @if (account()?.login == chat.initiatorName) {
                    <span>pending</span>
                  } @else {
                    <button type="submit" (click)="accept(chat.id)" class="btn btn-success btn-sm" data-cy="entityDeleteButton">
                      <fa-icon icon="check"></fa-icon>
                      <span class="d-none d-md-inline">Accept</span>
                    </button>
                  }
                } @else {
                  <span>accepted</span>
                }
              </td>
              <td style="display: none">{{ chat.accepted }}</td>
              <td style="display: none">
                {{ chat.user?.id }}
              </td>

              <td class="text-end">
                <div class="btn-group">
                  @if (!chat.accepted) {
                    @if (account()?.login == chat.initiatorName) {
                      <div class="btn btn-warning btn-sm" disabled="true">Pending</div>
                    } @else {
                      <button type="submit" (click)="accept(chat.id)" class="btn btn-success btn-sm" data-cy="entityDeleteButton">
                        <fa-icon icon="check"></fa-icon>
                        <span class="d-none d-md-inline">Accept</span>
                      </button>
                    }
                  }

                  <a [routerLink]="['/chat', chat.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Open</span>
                  </a>

                  <a
                    style="display: none"
                    [routerLink]="['/chat', chat.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(chat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
