<div>
  <h2 id="page-heading" data-cy="PostHeading">
    <span>Posts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-post"
        [routerLink]="['/post/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Post</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (posts().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Posts found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th style="display: none" scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="image">
              <div class="d-flex">
                <span>Image</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span>Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="time">
              <div class="d-flex">
                <span>Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th style="display: none" scope="col" jhiSortBy="user.id">
              <div class="d-flex">
                <span>User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th style="display: none" scope="col" jhiSortBy="profile.id">
              <div class="d-flex">
                <span>Profile</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (post of posts(); track trackId(post)) {
            <tr data-cy="entityTable">
              <td style="display: none">
                <a [routerLink]="['/post', post.id, 'view']">{{ post.id }}</a>
              </td>
              <td>
                @if (post.image) {
                  <!--<a (click)="openFile(post.image, post.imageContentType)">-->
                  <a [routerLink]="['/post', post.id, 'view']">
                    <img [src]="'data:' + post.imageContentType + ';base64,' + post.image" style="height: 30vh" alt="post" />
                  </a>
                  <span style="display: none">{{ post.imageContentType }}, {{ byteSize(post.image) }}</span>
                }
              </td>
              <td>{{ post.description }}</td>
              <td>{{ post.time | formatMediumDatetime }}</td>
              <td style="display: none">
                {{ post.user?.id }}
              </td>
              <td style="display: none">
                @if (post.profile) {
                  <div>
                    <a [routerLink]="['/profile', post.profile.id, 'view']">{{ post.profile.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/post', post.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    style="display: none"
                    [routerLink]="['/post', post.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button
                    style="display: none"
                    type="submit"
                    (click)="delete(post)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
